body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

.banner {
  width: 100%;
  height: 128px;
  object-fit: cover;
  object-position: right center; /* Crop from left */
  display: block;
}

nav {
  display: flex;
  gap: 1rem;
  background: #FF0F0F;
  padding: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

footer {
  padding: 2rem;
  text-align: center;
  background: #C21F1F;
}



/* Gallery style */
body.gallery main {
  max-width: none;
  margin: 0;
  padding: 0;
}

body.gallery {
  margin: 0;
  background: #111111;
  color: white;
}

header.minimal {
  padding: 1rem;
}

header.minimal a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  grid-auto-rows: 200px;
  gap: 10px;
}

.gallery-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* makes thumbnails uniform */
  display: block;
  border-radius: 6px;
  transition: transform 0.2s ease;
}

.gallery-grid img:hover {
  transform: scale(1.03);
}