<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <title>Dau4096</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body class="audio-index">

	<header>
		<img src="/static/banner.png" class="banner">

		<nav>
			<a href="/">Home</a>
			<a href="/projects/">Projects</a>
			<a href="/gallery/">Gallery</a>
			<a href="/posts/">Posts</a>
			<a href="/audio/index/">Music</a>
		</nav>
	</header>

	<main class="audio-index"><div class="audio-container">
		<h1>Music Index</h1>
		<hr>
		<div class="track-row">
			<span><h2> Index </h2></span>
			<span><h2> Title </h2></span>
			<span><h2> Artists </h2></span>
			<span><h2> Tags </h2></span>
			<span></span>
			<span><h2> Download </h2></span>
		</div>

		{% for entry in entries %}
			{% if entry.isDirectory %}

				<div class="track-row">
					<span></span>

					<a href="/audio/index/{{ entry.path }}" class="directory">
						{{ entry.name }}
					</a>

					<span></span>
					<span></span>
					<audio></audio>
					<span></span>
				</div>

			{% else %}

				<div class="track-row">

					<span>
						{% if entry.trackID != 1e6 %}
							<b>{{ entry.trackID }}</b>
						{% endif %}
					</span>

					<a href="/audio/file/{{ entry.path }}" class="file">
						"{{ entry.title }}"
					</a>

					<span class="artists">
						{% if entry.artists %}
							<b><i>{{ entry.artists }}</i></b>
						{% endif %}
					</span>

					<span class="tags">
						{% if entry.tags %}
							<b>{{ entry.tags }}</b>
						{% endif %}
					</span>

					<audio controls preload="none">
						<source src="/audio/file/{{ entry.path }}">
					</audio>

					<a href="/audio/download/{{ entry.path }}" class="download-button">
						<b><ins>↓</ins> {{ entry.fileType }} <ins>↓</ins></b>
					</a>

				</div>

			{% endif %}
			<br>
		{% endfor %}

		{% if parent %}
			<h3>
				<a href="/audio/index/{{ parent }}" class="directory">
					BACK
				</a>
			</h3>
		{% endif %}
	</div></main>

	<footer>
		<p>
			<a href="https://github.com/dau4096">GitHub: dau4096</a> <br>
			Email: mrdau4096@gmail.com <br>
			Discord: __dau__ <br>
			<a href="https://steamcommunity.com/id/J_Dau/">Steam: Dau</a>
		</p>
	</footer>

</body>
</html>