<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <!-- Embed -->
  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:description" content="{{ page.description | default: site.description }}">
  <meta property="og:image" content="{{ page.image | absolute_url }}">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:type" content="website">

  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>

<body class="gallery">

  <header class="minimal">
    <nav>
      <a href="{{ '/gallery/' | relative_url }}">← Back</a>
    </nav>
  </header>

  <main class="gallery-grid">
    {{ content }}
  </main>

</body>
</html>